/* This file is for your main application css. */

@import "./phoenix.css";

:root {  
    --dark-purple: #0e0034;  
    --purple: #08001d;     
    --pink: #aa94b5; 
    --lavendar: #ac8eff; 
}

html {  
    background: var(--dark-purple);  
}body {
    color: white;
}

.main-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.playlist-wrapper {
    
    display: grid;
    /* grid-template-rows: 100px auto; */
    grid-template-columns: 6fr 1fr 0.5fr 1fr;
    align-content: start;
}

#play-button {
    width: 50px;
    justify-self: center;
    grid-column-start: 1; 
    grid-column-end: 5; 
}

.playlist-wrapper > .playlist-card {
    background-color: var(--purple); 
    width: auto;
}

.increment-btn{
    background-color: green;
    height: 25px;
    width: 50px;
    align-self: center;
    justify-self: center;
}

.song-rank {
    color: white;
    align-self: center;
    justify-self: center;
}

.decrement-btn{
    background-color: red;
    height: 25px;
    width: 50px;
    align-self: center;
    justify-self: center;
}

.song-card {
    min-height: 60px; 
    width: 300px;
    border-radius: 5px;
    margin: 5px;
}

.library-card {
    background-color: var(--purple); 
    padding: 10px;
}

.library-card:hover {
    background-color: var(--lavendar); 
    min-height: 60px; 
    width: 330px;
    
}

.library-artist-name {

}
/* 
.library-wrapper {
    align-self: end; 
} */

/* Insures top border still exists */
/* .library-wrapper > .library-card:first-child{
    border-top-width: 2px;
} */
/* Removes before from every other track, to make width consistent */
/* .library-card:nth-of-type(odd) {
    border-top-width: 0px;
    border-bottom-width: 0px;
} */
